/*

    Droga5 Banner CSS
    Simon Abrams
    --------------------
    sabrams@droga5.com

*/




/**********  Utilities  ***********/


*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

body {
    background-color: #fff;
    padding:0; margin:0;
}


/* set the dimensions of your banner here */
.dimensions {
    width: 300px;
    height: 250px;
    position: absolute;
    top: 0;
    left: 0;
}

/*  apply this class to retina sized graphics
    be sure to change the dimensions to double the width and height of your banner's actrual dimensions */
.retina {
    background-size: calc(600px/2) calc(500px/2);
    width:calc(600px/2);
    height:calc(500px/2);
}

/* centers elements horizontally */
.center-horiz {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

/* centers elements vertically */
.center-vert {
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}

/* centers elements vertically */
.center {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}


/*  apply this to initialize elements as hidden until they are needed.
    use 'autoAlpha:1' in GSAP to show hidden elements */
.hidden {
    visibility: hidden;
}

.comp {
    background-repeat: no-repeat;
    // background-image: url('../images/comp5.png');
    opacity: 0.2;
    
}


div {
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    overflow: hidden;
}


/* main container element for banner */
#banner {
    position: absolute;
    overflow: hidden;
    cursor: pointer;
    background-color: white;
    transform: translate3d(0px, 0px, 0px);
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#banner .border {
    border: 1px solid rgb(197, 197, 197);
    z-index: 100;
    border: 1px solid rgba(0, 0, 0, 0.7);
    width: 300px;
    height: 250px;
    pointer-events: none;
}

/* sets up main stage clickable area */
#hit {
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}



/**********  Banner Elements/Layout  ***********/


#background {
    background-image: url('../images/bg_gradient_2x.jpg');
    background-repeat: no-repeat;
    width: calc(614px/2);
    background-size: cover;
}

/* placeholder - replace this with the styling for your headlines. duplicate as needed */
.copy,
.image {
    background-repeat: no-repeat;
    background-size: cover;
}
.copy-mask {
    clip: rect(23px 300px 150px 10px);
}

/* controls */

#controls {
    width: 12px;
    height: 12px;
    left: 278px;
    top:10px;
}
#btn_pause {
    background-image: url('../images/pause.png');
    height: 9px;
    width: 8px;
}
#btn_replay {
    background-image: url('../images/replay.png');
    width: 9px;
    height: 11px;

}

/* frame 1 */
#copy1 {
    background-image: url('../images/text_1.png');
    width: calc(392px/2);
    height: calc(73px/2);
    top: 28px;
    left: 15px;
}
#card1 {
    background-image: url('../images/card.png');
    width: 191px;
    height: 176px;
    right: 0;
    top: 66px;
}

/* frame 2 */
#copy2 {
    background-image: url('../images/text_2.png');
    width: calc(286px/2);
    height: calc(156px/2);
    top: 28px;
    left: 15px;
}

/* frame 3 */
#copy3 {
    background-image: url('../images/text_3.png');
    width: calc(295px/2);
    height: calc(92px/2);
    top: 28px;
    left: 15px;
}

#ellie1 {
    background-image: url('../images/image_ellie_1.png');
    width: 185px;
    height: 232px;
    left: 115px;
    top: 18px;
    
}

/* frame 4 */
#copy4 {
    background-image: url('../images/text_4.png');
    width: calc(285px/2);
    height: calc(93px/2);
    top: 28px;
    left: 15px;
}

#ellie2 {
    background-image: url('../images/image_ellie_2.png');
    width: 241px;
    height: 232px;
    left: 59px;
    top: 18px;
}


/* endframe */
#headline {
    background-image: url('../images/text_headline.png');
    width: calc(520px/2);
    height: calc(94px/2);
    top: 28px;
}
#card2 {
    background-image: url('../images/card_endframe.png');
    width: calc(368px/2);
    height: calc(214px/2);
    top: 95px;
}


/* footer */

#footer {
    background-color: white;
    width: 100%;
    height: 30px;
    bottom: 0;
}

#logo {
    background-image: url('../images/logo.svg');
    width: 120px;
    height: 15px;
    left: 10px;
    top: 227px;
}

/**********  CTA  ***********/

/* placeholder - update these elements as needed */
#cta {
    width: 119px;
    height: 29px;
    background-color: #0092ff;
    border-radius: 4px;
    left: 161px;
    top: 209px;
}

#cta-label {
    position: relative;
    background-image: url("../images/cta_label.png");
    background-repeat: no-repeat;
    width: 70px;
    height: 9px;
    margin: 10px 25px;
}


/**********  REMOVE - SLIDER  ***********/
#slider_bar {
  position:absolute;
  width: 300px;
  height:40px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-bottom: 120px;
}

#ctrl_slider {
    background: rgba(80,80,80,0.3);
    border:1px solid rgba(102,102,102,0.5);
}

.progress {
    font-family: sans-serif;
    position: relative;
    float: right;
    margin-top: 10px;
}

/**********  END REMOVE  ***********/














