
.dimensions {
    width: 300px;
    height: 250px;
    position: absolute;
    top: 0;
    left: 0;
}

.retina {
    background-size: calc(600px/2) calc(500px/2);
    width:calc(600px/2);
    height:calc(500px/2);
}

.center-horiz {
    left: 0;
    right: 0;
    margin: 0 auto;
}

.hidden {
    visibility: hidden;
}

.comp {
    /* background-image: url('../images/comp3.jpg');
    background-repeat: no-repeat;
    opacity: 0.5; */
}

.copy,
.image {
    background-repeat: no-repeat;
    background-size: cover;
}




div {
    background-repeat: no-repeat;
    position: absolute;
}


#banner {
    margin: auto;
    overflow: hidden;
    cursor: pointer;
    background-color: white;
    border: 1px solid black;
}

#hit {
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}



/*

    banner elements

*/

#bg_gradient {
    background-image: url('../images/bg_gradient.jpg');
}

#bg {
    background-image: url('../images/bg.jpg');
    width: calc(600px/2);
    height: calc(432px/2);
}

#bottom_white {
    display: block;
    width: 300px;
    height: 68px;
    background-color: white;
}

#card-container {
  width: 300px;
  height: 250px;
}

#card {
    background-image: url('../images/card.png');
    background-size: contain;
    width: calc(454px/2);
    height: calc(266px/2);
}

#chase_logo {
    background-image: url('../images/chase_logo.svg');
    background-size: contain;
    width: 173px;
    height: 14px;
}


/*

    copy

*/


#text_1 {
    background-image: url('../images/text_1.png');
    width: calc(328px/2);
    height: calc(86px/2);
    top: 20px;
    background-size: contain;
}

#text_2 {
    background-image: url('../images/text_2.png');
    width: calc(454px/2);
    height: calc(136px/2);
    top: 20px;
}

#text_3 {
    background-image: url('../images/text_3.png');
    width: calc(490px/2);
    height: calc(93px/2);
    top: 28px;
}


/*

    cta

*/


#cta {
    width: 91px;
    height: 29px;
    position: absolute;
    background-color: #2ba854;
    border-radius: 4px;
    left: 203px;
    top: 215px;
}

#cta_label {
    background-image: url('../images/text_cta.png');
    background-size: calc(134px/2) calc(20px/2);
    width: calc(134px/2);
    height: calc(20px/2);
    position: relative;
    left: 12px;
    top: 10px;
}



/* controls */
.hidden {
    visibility: hidden;
}
#controls {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 285px;
    top: 6px;
}
#btn_pause, #btn_play {
    position: absolute;
    background-image: url('../images/playPause.png');
    height: 10px;
    width: 10px;
    background-size: 19px 10px;
}

#btn_pause {
    background-position: 0 0;
}
#btn_play {
    background-position: -10px 0;
}

#btn_replay {
    background-image: url('../images/replay.svg');
    width: 9px;
    height: 11px;

}


/**********  CTA  ***********/
